.judul h1{
    font-size: 48px;
    color: rgba(15, 139, 141, 1);
    padding-top:100px;
    padding-left:360px;
}

section.kontak div {
    width: 800px;
    height: 50px;
}
.kontak {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    padding-bottom: 400px;
}

form {
   /* flex-direction: column;  */
   text-align: center;
   padding: 20px; 
   border: 2px solid rgba(210, 210, 210, 1); 
   border-radius: 20px; 
}
.kontak-form{
    display: flex;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: normal;
    color: rgba(20, 54, 66, 1);
}

label {
    /* margin-right: 100px; */
    padding-left:50px;
  }

input {
    border-radius:10px;
    border: 2px solid rgba(210, 210, 210, 1);
    margin-left:150px;
    width:400px;

}

input#phone-number {
    margin-left:40px;
}

input#subject {
    margin-left:130px;
}

textarea {
    border-radius:10px;
    border: 2px solid rgba(210, 210, 210, 1);
    margin-left:115px;
    width:400px;
    height: 150px;
}
.kontak-submit {
    width: 200px;
    border-radius: 40px;
    background-color: rgba(168, 32, 26, 1);
    color: white;
    margin-top:10px;
    margin-bottom:20px;
    padding:10px;
    margin-top: 150px;
    margin-left:-20px;
    font-size:24px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:1px solid #dee7ec;
    cursor: pointer;
}
