footer {
    background-color: rgba(20, 54, 66, 1);
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    padding: 50px; 
    margin-top: 200px;
    border-radius: 10px;
    position: relative;
}

footer div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 25px;
}

footer div div {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    margin-right: 910px;

}

.logo-home {
    color: white;
    width: 420px;
    height: 67px;

}

.logo-menu {
    filter: brightness(0) invert();
    height: 40px;
    width: 32px;

}

div.footer-logo div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;

}

.accordion {
    width: 40%;
    /* Adjust the width as needed */
    position: absolute;
}

.accordion-item {
    margin-bottom: 5px;
    /* Adjust spacing between accordion items */
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: rgba(236, 154, 41, 1);
    /* border-bottom: 1px solid rgba(236, 154, 41, 1); */
    font-weight: bold;
    cursor: pointer;
    /* Add pointer cursor to indicate it's clickable */
}

.accordion-content {
    display: none;
    list-style: none;
}

.accordion-content li {
    margin-top: 3px;
}

.accordion-content li a {
    text-decoration: none;
    color: white;
}

.accordion-item ul {
    display: none;
}


.accordion-item.active .accordion-content {
    display: block;
    row-gap: 5px;
    color: white;
    margin-top: 5px;
}

.accordion-title i {
    margin-right: 110px;
    /* Atur jarak antara ikon dan teks */
    top: 2px;
    /* Atur posisi vertikal jika diperlukan */
}


