footer {
    background-color: rgba(20, 54, 66, 1);
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    padding-top: 50px;
    margin-top: 200px;

    border-radius: 10px;
}

footer div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 25px;
}

footer div div {
    display: flex;
    flex-direction: column;
}

footer div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    row-gap: 15px;
    color: white;
}

footer div ul li {
    display: inline-block;
    margin-right: 80px;
}

footer div ul li div {
    padding-bottom: 10px;
}

footer div ul li ul {
    flex-direction: column;
}

footer div ul li div a {
    text-decoration: none;
    color: rgba(236, 154, 41, 1);
}


.logo-footer {
    color: white;
    width: 420px;
    height: 67px;
}


footer div div div {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 150px;
    gap: 20px;
}

footer div div div img {
    filter: brightness(0) invert();
    height: 40px;
    width: 32px;
}
